/* holds styles for body, header, h1, ul, li, and buttons */
body {
  background-color: #bbdae2;
}

header {
  display: flex;
  justify-content: center;
  background-color: #64abbd;
  color: #ff5722;
}

figure {
  height: 400px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-image: url("./Pastrami_grinder_\(2012\).jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  font-family: "Sansita Swashed", "cursive";
  font-weight: bold;
  font-size: 100px;
}

ul {
  color: #ff5722;
  font-size: 30px;
  text-align: center;
}

ul li {
  font-family: "Sansita Swashed", "cursive";
}
button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 12px 28px;
  margin: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
/* holds styling for classes */
.ingredients {
  background-color: #9ecad6;
  height: 150vh;
}
/* styles placeholder in the input */
::placeholder {
  color: black;
}

.card .card-image img {
  max-height: 158px;
  width: auto;
  margin: auto;
}

.card {
  min-height: 251px;
  min-width: 215px;
  background-color: #d6e9ee;
}

/* adds box shadow to cards */
.card:hover {
  box-shadow: 8px 8px 8px #3e8091;
  cursor: pointer;
}

.card:focus {
  box-shadow: 8px 8px 8px #3e8091;
}
/* confines images to cards */
#cardcontainer .card .card-image img {
  max-width: 214px;
}
